# This is an example of a .env file
# You can use this file to set your environment variables
# You can also set your environment variables directly in your system
# For more information, please visit https://www.npmjs.com/package/dotenv
# Do not use this file in production

NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=penpalmap.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_SECRET_ID=secret
NEXT_PUBLIC_JWT_SECRET=secret